@page "/liquidacion"
@inject IJSRuntime js


<center><h1>     Calculadora de Liquidaci칩n    </h1>
<div class="contenedorcalculadora" >


    <br>  <br>
    <MatTextField id="txtSalarioMensual" @bind-Value="@SalarioMensual" Dense="true" Label="Salario Mensual" Outlined="true"
    style="width:-webkit-fill-available;" Required="true" ></MatTextField>
    <br><br>
    <MatTextField id="txtDiasdeVacaciones" @bind-Value="@DiasdeVacaciones" Dense="true" Label="Dias de Vacaciones" Outlined="true"
    style="width:-webkit-fill-available;" Required="true" ></MatTextField>
    <br><br>
    <MatDatePicker id="FechaIniciodeLabores" Label="Fecha inicio de labores" Required="true" @bind-Value="@FechaInicio" Outlined="true"
    style="width:-webkit-fill-available;" EnableWeekNumbers="true"></MatDatePicker>
    <br><br>
    <div class="contenedor" >
    <MatButton Raised="true" style="width: 6rem;" @onclick="@LimpiarFormulario">Limpiar</MatButton>
    <MatButton Raised="true" style="width: 13rem;" @onclick="@sumar">Calcular</MatButton>
    </div>


</div>
</center>


@code
{
     string DiasdeVacaciones;
     string SalarioMensual;
     DateTime FechaInicio;
     DateTime FechaHoy;
     double salarioDiario;
    

@* Captura del salario menssual para sacar el diario *@

    public void sumar(){
        @* Conversiones a Int *@
        int _salarioMensual = Int32.Parse(SalarioMensual);
        @* int _diasdeVacaciones=Int32.Parse(DiasdeVacaciones); *@

        @* Procesamiento de fechas *@
        FechaHoy=DateTime.Now;
        Console.WriteLine(FechaHoy.ToString("MM/dd/yyyy"));
        double diferenciaDias= (FechaHoy - FechaInicio).TotalDays;

        @* Diferencia de Dias *@
        Console.WriteLine("Diferencia de puros Dias");
        Console.WriteLine(diferenciaDias);

        @* Diferencia de a침os *@
        var diferenciaAnos=Convert.ToInt32(diferenciaDias/365);
        Console.WriteLine("Diferencia de a침os");
        Console.WriteLine(diferenciaAnos);


        @* Diferenciar Los meses a partir del que iniciaste ej: 16/10/2019 - 20/11/2020 = 1 a침o 1 mes 4 dias *@
        var diferenciaMeses =Convert.ToInt32((diferenciaDias - (diferenciaAnos*365))/30);
        Console.WriteLine("Diferencia de Meses");
        Console.WriteLine(diferenciaMeses);

        @* Diferencia de SOLO DIAS *@
        var diferenciaSoloDias =Convert.ToInt32(diferenciaDias-(diferenciaAnos*365)-(diferenciaMeses*30));
        Console.WriteLine("Diferencia de solo dias");
        Console.WriteLine(diferenciaSoloDias);


        @* Procesamiento de los datos *@
        Console.WriteLine(_salarioMensual);
        salarioDiario=_salarioMensual/30;
        Console.WriteLine("El salario diario es");
        Console.WriteLine(salarioDiario);
         
    }


/*Utilidades*/

        private void LimpiarFormulario()
        {
        DiasdeVacaciones=string.Empty;
        SalarioMensual=string.Empty;
        FechaInicio=DateTime.Now;
        }
    
        protected override async Task OnAfterRenderAsync(bool firstRender)
        {
            if (firstRender)
            {
                await js.InvokeVoidAsync("focusById", "txtSalarioMensual");
            }
        }

}